* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  height: 200vh;
  background: lightblue;
}

/* Logo Container */
.logoContainer {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
/* Coding Image Left */
.coding {
  width: 80px;
  padding: 15px;
}
/* Span Burger */
.burger {
  padding: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* div classes from the line burger */
.line {
  margin: 1px;
  width: 20px;
  height: 4px;
  background-color: rgba(18, 138, 145, 0.733);
}
/* Nav bar */
.navbar {
  background: white;
  height: 80px;
}
/* nav bar elements */
.nav-content {
  background-color: white;
  /* max-height: 0; */
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.elements {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 10px;
  height: auto !important;
}
.list {
  font-size: 1.25rem;
  color: rgba(18, 138, 145, 0.733);
  padding: 10px;
  text-decoration: none;
}

/* frist section */
.section1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(./Photos/mountains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* First Section content Container */

.section1-content {
  text-align: center;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1-content h1 {
  font-size: 50px;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
.section1-content p {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
.btn {
  display: inline block;
  background-color: inherit;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 10px;
  font-weight: bold;
  width: 200px;
  font-size: 16px;
  line-height: 1.25;
}
.header {
  position: fixed;
  width: 100%;
}
